/* General */
* {
    margin-bottom: 1mm;
}

@media only screen and (max-width: 68.75em) {
    html {
        font-size: 70%; 
    } 
}

span {
    display: inline;
}

strong {
    text-decoration: underline;
}

body {
    background-color: antiquewhite;
    font-family: 'Raleway', 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    max-width: 120rem;
    min-width: 1rem;
}

/* Header */
h1, h2, h3 {
    margin-top: 1em;
    color:rgb(82, 11, 203);
    text-align: center;
}

/* Nav */
nav {
    position: relative;
    padding: 1em 1em 1em 1em;
    border-radius: 10%;
    border-width: 1mm;
    border-style: solid;
    border-color: black;
    margin-left: 15%;
    margin-right: 10%;
}

a[href*="#"] {
    color:rgb(23, 53, 109)
  }

nav div {
    padding-top: 1%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 1%;
}

/* Section */
section {
    margin-bottom: 3rem;
}

.design {
    display: inline-block;
}

#agenda {
    position: static;
}

/* Footer */
fieldset {
    display: grid;
    grid-template: none;
    grid-template-rows: [row1-start] auto [row1-end] auto [third-line] auto [last-line];

}

fieldset .input {
    grid-column-start: 1;
    justify-self: center;
    align-self: center;
}

button:hover {
    color: blue;
}

button:active {
    color: red;
}

.input {
    margin: auto;
    height: auto;
    width: auto;
}

details {
    margin: 1em 1em 1em 1em;
}

.date {
    color: hsl(305, 100%, 50%);
}

.present {
    color:rgb(0, 255, 0);
}

.absent {
    color:brown;
}

.media {
    margin-left: 20px;
    margin-bottom: -5mm;
}

.video {
    margin-top: -3vh;
}

.audio {
    margin-left: 1cm;
}

summary ~ p {
    font-size: 120%;
}

h1 + h3 {
    font-size: 200%;
}